.container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    margin-top: -10%;
    width: 85%;
    height: 70vh;
    position: relative;
}

.imageContainer {
    width: 100%;
    height: 100%;
    position: relative;
    overflow: hidden;
    border-radius: 10px;
}

.back, .next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    padding: 15px; /* Tıklanabilir alanı artırmak için padding eklendi */
    background-color: rgba(0, 0, 0, 0.5); /* Arka plan eklendi */
    border-radius: 5px;
    z-index: 10; /* z-index artırıldı */
    color: white;
    touch-action: manipulation; /* Mobil için touch olaylarını iyileştirme */
}

.back {
    left: 10px;
}

.next {
    right: 10px;
}

.buttons{
    cursor: pointer;
    z-index: 11;
}
@media (max-width: 1080px) {
    .container {
        margin-top: 5%;
        height: 35vh;
        width: 95%;
    }
    
    .back, .next {
        padding: 5px; /* Mobilde daha büyük tıklama alanı */
    }
}
