.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
}

.nav {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  margin: auto;
}

.container {
  display: flex;
  /* position: fixed; */
  width: 85%;
  height: 8vh;
  justify-content: space-between;
  padding: 0;
  margin: auto;
  background-color:  rgb(25, 25, 54);
  border-radius: 14px;
  align-items: center;
  list-style-type: none;
  margin-top: 3%;
}

.container li {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  border: solid;
  border-left: none;
  border-top: none;
  border-bottom: none;
  border-right: solid;
  border-color: white;
  z-index: 99;
}


.container a {
  text-decoration: none;
  color: white;
  padding: 10px;
  
}

.container a:hover{
  font-weight: bold;
}



.mobileView {
  position: fixed;
  top: 5%;
  left: 3%;
  z-index: 30;
  cursor: pointer;
  background-color:  rgb(25, 25, 54);
  color: white;
  padding: 10px;
  width: 30%;

  border-radius: 5px;
  
}

.open {
  position: fixed;
  top: 9%;
  width: 80%;
  left: 3%;
  background-color: rgb(25, 25, 54);
  padding: 10px;
  border-radius: 5px;
  z-index: 302222;
  color: white;
  max-height: 60vh; /* İçerik maksimum 60% ekran yüksekliğine kadar yer kaplasın */
  overflow-y: auto; /* Yüksekliği aşarsa kaydırma çubuğu göster */
}

.open ul {
  list-style-type: none;
  margin: 0;
}

.open li {
  padding: 15px;
  text-align: left;
  cursor: pointer;
}

.open li:hover, .bune:hover{
  font-weight: bold;
}

.open li:last-child:hover{
  font-weight: normal;
}
.ahahah li:hover{ 
  font-weight: bold;
}
.open a {

  color: white;
  text-decoration: none;
}

.spa:hover{
  font-weight: bold;
}

.important{
  color: white;
}
.nav .container .importantli{
  border: none !important;
  border-right: none !important;
  border-bottom-right-radius: 0 !important;
  cursor: pointer;
  
}
.important:hover, .dropdowncontainer li:hover{
  font-weight: bold;
}
/* Dropdown container için ek stil */
.dropdowncontainer { 
  position: absolute; 
  margin-top: 70vh;
  margin-left: 0.2%; 
  width: 21%; 
  color: white; 
  z-index: 11111111111111; 
  background-color: rgb(25, 25, 54); 
  border-radius: 0 0 14px 14px;

} 

.dropdowncontainer li { 
  padding: 1.3vh;
  border-right: none; /* Dropdown içindeki li elementlerinde border olmamasını sağla */
}

@media (max-width: 1023px) {
  .container {
    display: none;
  }
}