.container{
    display: flex;
    position: fixed;
    width: 100%;
    height: 5vh;
    justify-content: center;
    color: white;
    background-color: red;
    font-size: bold;
    margin-bottom: 3%;
    z-index: 111111112333333333333333333333333333333333333333333333311111111111112312312312311111111111111111111111111111111111111;
}

@media (max-width:1080px){
    .container{
        height: 3vh;
    }
}